/* file specifically for webpage headers*/
.jumbotron-bg {
    min-height: 400px;
    background-image: url('jumbotron-background.png');
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;
    color: white;                    
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}